<!-- Landing page -->
<div class="landing-page" *ngIf="onLandingPage" @fade>
  <div class="hero">
    <div class="hero-inner">
      <h1>Sam's Game</h1>
      <p class="lead">A text based mystery game.</p>
      <div class="hero-actions">
        <button
          type="button"
          class="btn btn-primary btn-lg px-4 gap-3"
          (click)="startGame()"
        >
          Primary button
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Start next page -->
<div class="row mb-3 text-center" @fade>
  <div class="col-4 themed-grid-col"></div>
  <div class="col-4 themed-grid-col">
    <p style="margin-top: 40vh;">{{ dialog }}</p>
  </div>
  <div class="col-4 themed-grid-col"></div>
</div>
